body {
    background: linear-gradient(#e66465, #9198e5);
    height: fit-content;
    background-repeat: no-repeat;
}


.col-md-8 {
    background-color: hwb(0deg 100% 0% / 9%);
}
.btn-add {
    background-color: rgb(50, 205, 128);
}

table {
    border-collapse: collapse !important;
    border-radius: 5px;
    overflow: hidden;
}